<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <form [formGroup]="contatoForm" (ngSubmit)="cadastraContato()">
      <ion-list class="form-lista">
        <ion-item>
          <ion-input
            type="text"
            placeholder="Nome"
            formControlName="nome"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="text"
            placeholder="Empresa"
            formControlName="empresa"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="tel"
            placeholder="Telefone"
            formControlName="telefone"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="number"
            placeholder="Cep"
            formControlName="cep"
            (ionBlur)="buscaCep()"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="text"
            placeholder="Rua"
            formControlName="rua"
            disabled
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="text"
            placeholder="Bairro"
            formControlName="bairro"
            disabled
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="number"
            placeholder="Número"
            formControlName="numero"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="text"
            placeholder="Cidade"
            formControlName="cidade"
            disabled
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="text"
            placeholder="Estado"
            formControlName="uf"
            disabled
          ></ion-input>
        </ion-item>
      </ion-list>
      <ion-button
        type="submit"
        class="button_cad"
        expand="block"
        [disabled]="contatoForm.invalid"
        >Cadastrar</ion-button
      >
    </form>
  </div>
</ion-content>
